body{
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #202124;
    height: 600px;
}

/*************** style top menu **************/
ul{
    display: flex;
    justify-content: end;
    align-items: center;
}
ul li{
    direction: rtl;
    display: inline;
    margin: 0 8px;
}
.top-menu img.show-icon{
    width: 20px;
    cursor: pointer;
}
.top-menu li a{
    text-decoration: none;
    color: #202124;
}
.top-menu button.signIn{
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: dodgerblue;
    color: white;
    border-radius: 5px;
}

/*************** style center content **************/
.content-centerPage{
    width: 80%; 
    margin: 70px auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content-centerPage .search-box{
    width:550px; 
    height: 15px; 
    padding: 15px 20px;
    border-radius: 30px; 
    border: 1px solid gray; 
    opacity: 0.4; 
}
.content-centerPage #search-inp{
    border: none;
    outline: none;
    width: 90%;
    height: 100%;
    box-shadow: none;
}
.content-centerPage .search-box:hover{
    box-shadow: 2px 2px 5px gray;
}
.content-centerPage .buttons button{
    padding: 10px 20px;
    border: none;
    outline: none;
    margin-top: 20px;
    opacity: 0.8;
    cursor: pointer;
    border-radius: 5px;
}

/*************** style google text **************/
.google-word{
    font-size: 80px;
    font-weight: lighter;
    margin: 0;
}
.google-word span{
    margin-left: -20px;
}
.color-blue{
    color: dodgerblue;
}
.color-red{
    color: red;
}
.color-yellow{
    color: gold;
}
.color-green{
    color: green;
}
.letter-italic{
    transform: rotate(-15deg);
    display: inline-block;
}

/*************** style menu of footer **************/
.menu-footer{
    width: 100%;
    height: 0px;
    padding: 35px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(201, 201, 201,0.5);
}
.menu-footer .left-menu-footer{
    position: absolute;
    bottom: 15px;
    left: 0;
}
.menu-footer .right-menu-footer{
    position: absolute;
    bottom: 15px;
    right: 30px;
}
.menu-footer ul li a{
    text-decoration: none;
    color: #202124;
    margin: 0 5px;
}